In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
df = pd.read_csv('cartillas.csv')

In [4]:
df.tail()

                                             CARTILLAS
995  8 20 45 60 63 14 25 32 49 75 6 17 42 54 64 3 2...
996  3 22 45 47 63 15 19 42 48 62 1 17 43 52 72 10 ...
997  15 30 44 49 71 14 24 37 57 61 11 22 31 55 62 1...
998  12 28 31 57 75 7 29 38 51 62 11 27 41 52 72 4 ...
999  7 19 39 47 73 5 16 41 51 74 9 29 38 46 64 1 27...

In [5]:
data = []
for cartilla in df['CARTILLAS']:
    temp = len(cartilla)
    data.append(cartilla[:temp - 1].split(' '))

In [9]:
data[2][0]

'4'

In [25]:
array1 = [1,2,3,4,5,6]
array2 = [0,2,4,6,8,10]

array3 = set(array1).intersection(array2)
print(array3)

{2, 4, 6}

In [51]:
ver = 0
for compara in data:
    con = 0
    for element in data:
        array3 = set(compara).intersection(element)
        if(len(array3) > 20):
            ver += 1
            con += 1
            if(con > 1):
                print(len(array3))
print(ver)

1000

In [32]:
from reportlab.lib import colors 
from reportlab.lib.pagesizes import letter, inch 
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle

In [48]:
elements = []
datos = [5]
numeros = [5]

con = 0
pos = 0
i = 0

for element in data:
    datos = []
    numeros = []
    elements = []
    i += 1
    doc = SimpleDocTemplate(("cartilla_") + repr(i) + (".pdf"), pagesize=letter)
    for numero in element:
        con += 1
        numeros.append(numero)
        if(con == 5):
            datos.append(numeros)
            numeros = []
            pos += 1
            con = 0
    t=Table(datos,5*[0.3*inch], 5*[0.2*inch]) 
    t.setStyle(TableStyle([ 
        ('INNERGRID', (0,0), (-1,-1), 0.25, colors.black), 
        ('BOX', (0,0), (-1,-1), 0.25, colors.black), 
    ]))
    
    elements.append(t)  
    doc.build(elements)